<header class="header_part">
    <div class="sub_header section_bg">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7 col-md-7">
                    <div class="header_contact_info">
                        <a href="tel:+4641468425"><i class="icon_phone"></i>6789 345 0912</a>
                        <a href="mailto:admin@example.com"><i class="icon_mail_alt"></i>admin@example.com</a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5 col-md-5">
                    <div class="header_login_info">
                        <% if(user) { %>                                                        
                            <a href="/profile">پنل کاربری (<%= user.fullName %>)</a>
                            <a href="/register/logout" style="color: crimson;">خروج</a>                            
                        <% } else { %>
                            <a href="/register" style="color: seagreen;">ورود / ثبت نام</a>
                            <a href="">خوش آمدید...!</a>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>