<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title><%= title ? title + ' - وبلاگ آموزشی' : 'وبلاگ آموزشی' %></title>
    <link rel="icon" href="/assets/img/favicon.png" type="image/png">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <!-- animate CSS -->
    <link rel="stylesheet" href="/assets/css/animate.css" />
    <!-- font awesome CSS -->
    <link rel="stylesheet" href="/assets/vendors/elegant_Icon/elegent_icon.css" />
    <!-- nice select CSS -->
    <link rel="stylesheet" href="/assets/vendors/niceselect/css/nice-select.css" />
    <!-- owl carousel CSS -->
    <link rel="stylesheet" href="/assets/vendors/owl_carousel/css/owl.carousel.css" />
    <!-- magnific popup CSS -->
    <link rel="stylesheet" href="/assets/vendors/magnify_popup/magnific-popup.css" />
    <!-- Countdown CSS -->
    <link rel="stylesheet" href="/assets/vendors/countdown/css/Countdown.css" />
    <!-- flaticon CSS -->
    <link rel="stylesheet" href="/assets/css/flaticon.css" />
    <!-- aos CSS -->
    <link rel="stylesheet" href="/assets/vendors/aos/aos.css" />

    <% if(courseCss) { %>
        <!-- courses CSS -->
        <link rel="stylesheet" href="/assets/css/courses.css" />
    <% } %>
    <% if(fontAwesome) { %>
        <!-- font awesome js -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <% } %>
    <!-- style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>