<div class="main_nav">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header_iner d-flex justify-content-between align-items-center">
                    <div class="sidebar_icon troggle_icon d-lg-none">
                        <i class="icon_menu"></i>
                    </div>
                    <div class="logo">
                        <a href="/"><img src="/assets/img/logo.png" alt="#"></a>
                    </div>

                    <nav class="navbar_bar">
                        <ul>
                            <li>
                                <a class="nav-link" href="/">خانه</a>
                            </li>
                            <li class="mega_menu_dropdown">
                                <a class="mega_menu_dropdown-toggle nav-link" href="#">همه دوره ها</a>
                                <ul>
                                    <li><a href="/course/course-grid">شبکه دوره</a></li>
                                    <li><a href="/quizzes">آزمون ها</a></li>
                                    <li><a href="/checkout">بررسی خرید</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="nav-link" href="/blog">مقالات مشاوره ای</a>
                            </li>
                            <li>
                                <a class="nav-link" href="/contact">تماس با ما</a>
                            </li>
                            <li class="mega_menu_dropdown">
                                <a class="mega_menu_dropdown-toggle nav-link" href="#">سایر</a>
                                <ul>
                                    <li><a href="/event">رویدادها</a></li>
                                    <li><a href="/instructor">آموزگار</a></li>
                                    <li><a href="/testimonial">گواهینامه</a></li>
                                    <li><a href="/about">درباره ما</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div class="navbar_btn">
                        <a href="/live-class" class="btn_1">برگزاری کلاس آنلاین</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>