<!-- 404 page content here -->
<section data-aos="fade-up" data-aos-duration="1200" class="error_page section_padding" id="scene">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="error_page_iner">
                    <img src="/assets/img/error.png" alt="#" class="img-fluid">
                    <h3>با عرض پوزش، صفحه یافت نشد</h3>
                    <form action="#" class="subscribe_form">
                        <input type="search" placeholder="جستجو...">
                        <a href="#"><i class="arrow_left"></i></a>
                    </form>
                    <p><a href="/" class="go_back"><i class="arrow_back"></i>بازگشت به خانه</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="icon_animation">
        <div class="error_icon_1 scene">
            <div class=" layer" data-depth="0.2">
                <img src="/assets/img/error/icon_1.png" alt="#">
            </div>
        </div>
        <div class="error_icon_2 scene">
            <div class=" layer" data-depth="0.1">
                <img src="/assets/img/error/icon_2.png" alt="#">
            </div>
        </div>
        <div class="error_icon_3 scene">
            <div class=" layer" data-depth="0.1">
                <img src="/assets/img/error/icon_3.png" alt="#">
            </div>
        </div>
        <div class="error_icon_4 scene">
            <div class=" layer" data-depth="0.1">
                <img src="/assets/img/error/icon_4.png" alt="#">
            </div>
        </div>
        <div class="error_icon_5 scene">
            <div class=" layer" data-depth="0.1">
                <img src="/assets/img/error/icon_5.png" alt="#">
            </div>
        </div>
        <div class="error_icon_6 scene">
            <div class=" layer" data-depth="0.1">
                <img src="/assets/img/error/icon_7.png" alt="#">
            </div>
        </div>
        <div class="error_icon_7 scene">
            <div class=" layer" data-depth="0.1">
                <img src="/assets/img/error/icon_6.png" alt="#">
            </div>
        </div>
        <div class="error_icon_8 scene">
            <div class=" layer" data-depth="0.1">
                <img src="/assets/img/error/icon_9.png" alt="#">
            </div>
        </div>
        <div class="error_icon_9 scene">
            <div class=" layer" data-depth="0.1">
                <img src="/assets/img/error/icon_8.png" alt="#">
            </div>
        </div>
    </div>
</section>
<!-- 404 page content end -->