<!-- breadcrumb part -->
<section class="breadcrumb_part blog_grid_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 ">
                <div class="breadcrumb_iner">
                    <h2>بررسی خرید</h2>
                    <div class="breadcrumb_iner_link">
                        <a href="/">خانه</a>
                        <i class="arrow_carrot-left"></i>
                        <span>بررسی خرید</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb part end -->

<!-- checkout part here -->
<div id="content" class="site-content section_padding" bis_skin_checked="1">
    <div class="lp-archive-courses" bis_skin_checked="1">
        <div id="learn-press-checkout" class="lp-content-wrap" bis_skin_checked="1">
            <h2>بررسی خرید</h2>
            <div class="learnpress" bis_skin_checked="1">
                <form method="post" id="learn-press-checkout-form" name="learn-press-checkout-form" class="lp-checkout-form" tabindex="0" enctype="multipart/form-data">
                    <div class="lp-checkout-form__before" bis_skin_checked="1">
                        <div id="checkout-order" class="lp-checkout-block right" bis_skin_checked="1">
                            <h4>سفارش شما</h4>
                            <div class="lp-checkout-order__inner" bis_skin_checked="1">
                                <table>
                                    <tbody>
                                        <tr class="cart-item">
                                            <td class="course-thumbnail">
                                                <img width="370" height="280" src="assets/img/popular_item_9.png" class="attachment-500x300 size-500x300 wp-post-image" alt="Software Development" loading="lazy" title="Software Development">
                                            </td>
                                            <td class="course-name">
                                                <a href="course-details.html" bis_skin_checked="1">
                                                    توسعه نرم افزار                             
                                                </a>
                                            </td>
                                            <td class="course-total col-number">120 هزار تومان</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr class="cart-subtotal">
                                            <th colspan="2">جمع فرعی</th>
                                            <td class="col-number">120 هزار تومان</td>
                                        </tr>
                                        <tr class="order-total">
                                            <th colspan="2">جمع کل</th>
                                            <td class="col-number">120 هزار تومان</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="lp-checkout-form__after" bis_skin_checked="1">
                        <div id="checkout-account-logged-in" class="lp-checkout-block left" bis_skin_checked="1">
                            <p>
                                    با نام <a href="/profile" bis_skin_checked="1">admin</a> وارد شده اید.
                                <a href="/" title="Log out of this account" bis_skin_checked="1">
                                    خروج »</a>
                            </p>
                        </div>
                        <div class="learn-press-checkout-comment" bis_skin_checked="1">
                            <h4>اطلاعات تکمیلی</h4>
                            <textarea name="order_comments" class="order-comments" placeholder="متن پیغام به مدیریت را بنویسید"></textarea>
                        </div>
                        <div id="checkout-payment" class="lp-checkout-block left" bis_skin_checked="1">
                            <h4>پرداخت<span class="secure-connection">
                                <i class="fas fa-lock"></i>ارتباط امن</span>
                            </h4>
                            <ul class="payment-methods">
                                <li id="learn-press-payment-method-paypal" class="lp-payment-method lp-payment-method-paypal selected">
                                    <label for="payment_method_paypal">
                                        <input type="radio" class="gateway-input" name="payment_method" id="payment_method_paypal" value="paypal" checked="checked" data-order_button_text="">
                                        <img class="gateway-icon" src="assets/img/paypal-logo-preview.png" alt="PayPal">
                                    </label>
                                </li>
                            </ul>
                            <div id="checkout-order-action" class="place-order-action" bis_skin_checked="1">
                                <button type="submit" class="lp-button button alt" name="learn_press_checkout_place_order" id="learn-press-checkout-place-order">
                                    ثبت سفارش</button>
                                <input type="hidden" id="learn-press-checkout-nonce" name="learn-press-checkout-nonce" value="7437dd3182"><input type="hidden" name="_wp_http_referer" value="/lp-checkout/">
                            </div>
                        </div>
                        <p class="lp-terms-and-conditions">
                            با تکمیل خرید خود با <a href="#" target="_blank" bis_skin_checked="1">مقررات و شرایط</a> موافقت می کنید .
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>