<!-- breadcrumb part -->
<section class="breadcrumb_part blog_grid_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 ">
                <div class="breadcrumb_iner">
                    <h2>تماس با ما</h2>
                    <div class="breadcrumb_iner_link">
                        <a href="/">خانه</a>
                        <i class="arrow_carrot-left"></i>
                        <span>تماس با ما</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb part end -->

<!-- Start contact us -->
<div class="review_form contact_form section_padding">
    <div class="container">
        <h3 data-aos="fade-up" data-aos-duration="1200">در صورت تمایل با ما تماس بگیرید</h3>
        <form data-aos="fade-up" data-aos-duration="1600" method="post">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form_single_item">
                        <input type="text" name="name" placeholder="نام" required>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form_single_item">
                        <input type="email" name="email" placeholder="ایمیل" required>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form_single_item">
                        <input type="phone" name="phone" placeholder="تلفن" required>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form_single_item">
                        <input type="text" name="subject" placeholder="موضوع" required>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form_single_item">
                        <textarea name="message" placeholder="پیغام" required></textarea>
                    </div>
                </div>
            </div>
            <input type="submit" class="btn_3" value="ارسال">
        </form>
    </div>
</div>
<!-- End contact us -->