<!-- courses part here -->
<div id="content" class="site-content" bis_skin_checked="1">
    <div class="lp-archive-courses" bis_skin_checked="1">
        <ul class="learn-press-breadcrumb">
            <li><a href="index.html" bis_skin_checked="1"><span>خانه</span></a></li>
            <li class="breadcrumb-delimiter"><i class="fas fa-chevron-left"></i></li>
            <li><span>همه دوره ها</span></li>
        </ul>
        <div class="lp-content-area" bis_skin_checked="1">
            <header class="learn-press-courses-header">
                <h1>همه دوره ها</h1>
            </header>
            <div class="lp-courses-bar list" bis_skin_checked="1">
                <form class="search-courses" method="get" action="index.html">
                    <input type="hidden" name="post_type" value="lp_course">
                    <input type="hidden" name="taxonomy" value="">
                    <input type="hidden" name="term_id" value="">
                    <input type="hidden" name="term" value="">
                    <input type="text" placeholder="جستجو دوره" name="s" value="">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
                <div class="switch-layout" bis_skin_checked="1">
                    <input type="radio" name="lp-switch-layout-btn" value="grid" id="lp-switch-layout-btn-grid" checked="checked">
                    <label class="switch-btn grid" title="Switch to grid" for="lp-switch-layout-btn-grid"></label>
                    <input type="radio" name="lp-switch-layout-btn" value="list" id="lp-switch-layout-btn-list">
                    <label class="switch-btn list" title="Switch to list" for="lp-switch-layout-btn-list"></label>
                </div>
            </div>
            <ul class="learn-press-courses" data-layout="grid">
                <li id="post-1026" class="post-1026 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-computer-science course">
                    <div class="course-item" bis_skin_checked="1">
                        <div class="course-wrap-thumbnail" bis_skin_checked="1">
                            <div class="course-thumbnail" bis_skin_checked="1">
                                <a href="course-details.html" bis_skin_checked="1">
                                    <div class="thumbnail-preview" bis_skin_checked="1">
                                        <div class="thumbnail" bis_skin_checked="1">
                                            <div class="centered" bis_skin_checked="1">
                                                <img width="370" height="280" src="assets/img/course/هوش و استعداد تحلیلی فرهنگیان.png" class="attachment-500x300 size-500x300 wp-post-image" alt="Software Development" loading="lazy" title="Software Development">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- START .course-content -->
                        <div class="course-content" bis_skin_checked="1">
                            <div class="course-categories" bis_skin_checked="1">
                                <a href="course-category.html" rel="tag" bis_skin_checked="1">کنکور فرهنگیان</a>
                            </div>
                            <span class="course-instructor">
                                <a href="my-profile.html" bis_skin_checked="1"><span>استاد قوامی خطیب</span></a>
                            </span>
                            <a href="course-details.html" class="course-permalink" bis_skin_checked="1">
                                <h3 class="course-title">هوش و استعداد تحلیلی فرهنگیان</h3>
                            </a>
                            <!-- START .course-content-meta -->
                            <div class="course-wrap-meta" bis_skin_checked="1">
                                <div class="meta-item meta-item-duration" bis_skin_checked="1">10 هفته</div>
                                <div class="meta-item meta-item-level" bis_skin_checked="1">همه سطوح</div>
                                <div class="meta-item meta-item-lesson" bis_skin_checked="1">
                                    <span class="meta-number">11 درس</span>
                                </div>
                                <div class="meta-item meta-item-quiz" bis_skin_checked="1">
                                    <span class="meta-number">1 آزمون</span>
                                </div>
                                <div class="meta-item meta-item-student" bis_skin_checked="1"> <span class="meta-number">0 دانش آموز</span>
                                </div>
                            </div>
                            <!-- END .course-content-meta -->
                            <div class="separator" bis_skin_checked="1"></div>
                            <div class="course-info" bis_skin_checked="1">
                                <div class="course-excerpt" bis_skin_checked="1">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون</div>
                                <div class="clearfix" bis_skin_checked="1"></div>
                                <!-- START .course-content-footer -->
                                <div class="course-footer" bis_skin_checked="1">
                                    <div class="course-price" bis_skin_checked="1">
                                        <span class="price">160 هزار تومان</span>
                                    </div>
                                </div>
                                <!-- END .course-content-footer -->
                                <div class="course-readmore" bis_skin_checked="1">
                                    <a href="course-details.html" bis_skin_checked="1">بیشتر</a>
                                </div>
                            </div>
                        </div>
                        <!-- END .course-content -->
                    </div>
                </li>
                <li id="post-1026" class="post-1026 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-computer-science course">
                    <div class="course-item" bis_skin_checked="1">
                        <div class="course-wrap-thumbnail" bis_skin_checked="1">
                            <div class="course-thumbnail" bis_skin_checked="1">
                                <a href="course-details.html" bis_skin_checked="1">
                                    <div class="thumbnail-preview" bis_skin_checked="1">
                                        <div class="thumbnail" bis_skin_checked="1">
                                            <div class="centered" bis_skin_checked="1">
                                                <img width="370" height="280" src="assets/img/course/معرفی رشته ها دانشگاهی.png" class="attachment-500x300 size-500x300 wp-post-image" alt="Software Development" loading="lazy" title="Software Development">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- START .course-content -->
                        <div class="course-content" bis_skin_checked="1">
                            <div class="course-categories" bis_skin_checked="1">
                                <a href="course-category.html" rel="tag" bis_skin_checked="1">مشاوره</a>
                            </div>
                            <span class="course-instructor">
                                <a href="my-profile.html" bis_skin_checked="1"><span>گروه مشاوره</span></a>
                            </span>
                            <a href="course-details.html" class="course-permalink" bis_skin_checked="1">
                                <h3 class="course-title">معرفی رشته های دانشگاهی</h3>
                            </a>
                            <!-- START .course-content-meta -->
                            <div class="course-wrap-meta" bis_skin_checked="1">
                                <div class="meta-item meta-item-duration" bis_skin_checked="1">10 هفته</div>
                                <div class="meta-item meta-item-level" bis_skin_checked="1">همه سطوح</div>
                                <div class="meta-item meta-item-lesson" bis_skin_checked="1">
                                    <span class="meta-number">11 درس</span>
                                </div>
                                <div class="meta-item meta-item-quiz" bis_skin_checked="1">
                                    <span class="meta-number">1 آزمون</span>
                                </div>
                                <div class="meta-item meta-item-student" bis_skin_checked="1"> <span class="meta-number">0 دانش آموز</span>
                                </div>
                            </div>
                            <!-- END .course-content-meta -->
                            <div class="separator" bis_skin_checked="1"></div>
                            <div class="course-info" bis_skin_checked="1">
                                <div class="course-excerpt" bis_skin_checked="1">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون</div>
                                <div class="clearfix" bis_skin_checked="1"></div>
                                <!-- START .course-content-footer -->
                                <div class="course-footer" bis_skin_checked="1">
                                    <div class="course-price" bis_skin_checked="1">
                                        <span class="price">160 هزار تومان</span>
                                    </div>
                                </div>
                                <!-- END .course-content-footer -->
                                <div class="course-readmore" bis_skin_checked="1">
                                    <a href="course-details.html" bis_skin_checked="1">بیشتر</a>
                                </div>
                            </div>
                        </div>
                        <!-- END .course-content -->
                    </div>
                </li>
                <li id="post-1026" class="post-1026 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-computer-science course">
                    <div class="course-item" bis_skin_checked="1">
                        <div class="course-wrap-thumbnail" bis_skin_checked="1">
                            <div class="course-thumbnail" bis_skin_checked="1">
                                <a href="course-details.html" bis_skin_checked="1">
                                    <div class="thumbnail-preview" bis_skin_checked="1">
                                        <div class="thumbnail" bis_skin_checked="1">
                                            <div class="centered" bis_skin_checked="1">
                                                <img width="370" height="280" src="assets/img/popular_item_7.png" class="attachment-500x300 size-500x300 wp-post-image" alt="Software Development" loading="lazy" title="Software Development">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- START .course-content -->
                        <div class="course-content" bis_skin_checked="1">
                            <div class="course-categories" bis_skin_checked="1">
                                <a href="course-category.html" rel="tag" bis_skin_checked="1">علوم کامپیوتر</a>
                            </div>
                            <span class="course-instructor">
                                <a href="my-profile.html" bis_skin_checked="1"><span>آدام اسمیت</span></a>
                            </span>
                            <a href="course-details.html" class="course-permalink" bis_skin_checked="1">
                                <h3 class="course-title">توسعه نرم افزار</h3>
                            </a>
                            <!-- START .course-content-meta -->
                            <div class="course-wrap-meta" bis_skin_checked="1">
                                <div class="meta-item meta-item-duration" bis_skin_checked="1">10 هفته</div>
                                <div class="meta-item meta-item-level" bis_skin_checked="1">همه سطوح</div>
                                <div class="meta-item meta-item-lesson" bis_skin_checked="1">
                                    <span class="meta-number">11 درس</span>
                                </div>
                                <div class="meta-item meta-item-quiz" bis_skin_checked="1">
                                    <span class="meta-number">1 آزمون</span>
                                </div>
                                <div class="meta-item meta-item-student" bis_skin_checked="1"> <span class="meta-number">0 دانش آموز</span>
                                </div>
                            </div>
                            <!-- END .course-content-meta -->
                            <div class="separator" bis_skin_checked="1"></div>
                            <div class="course-info" bis_skin_checked="1">
                                <div class="course-excerpt" bis_skin_checked="1">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون</div>
                                <div class="clearfix" bis_skin_checked="1"></div>
                                <!-- START .course-content-footer -->
                                <div class="course-footer" bis_skin_checked="1">
                                    <div class="course-price" bis_skin_checked="1">
                                        <span class="price">160 هزار تومان</span>
                                    </div>
                                </div>
                                <!-- END .course-content-footer -->
                                <div class="course-readmore" bis_skin_checked="1">
                                    <a href="course-details.html" bis_skin_checked="1">بیشتر</a>
                                </div>
                            </div>
                        </div>
                        <!-- END .course-content -->
                    </div>
                </li>
                <li id="post-1026" class="post-1026 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-computer-science course">
                    <div class="course-item" bis_skin_checked="1">
                        <div class="course-wrap-thumbnail" bis_skin_checked="1">
                            <div class="course-thumbnail" bis_skin_checked="1">
                                <a href="course-details.html" bis_skin_checked="1">
                                    <div class="thumbnail-preview" bis_skin_checked="1">
                                        <div class="thumbnail" bis_skin_checked="1">
                                            <div class="centered" bis_skin_checked="1">
                                                <img width="370" height="280" src="assets/img/popular_item_6.png" class="attachment-500x300 size-500x300 wp-post-image" alt="Software Development" loading="lazy" title="Software Development">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- START .course-content -->
                        <div class="course-content" bis_skin_checked="1">
                            <div class="course-categories" bis_skin_checked="1">
                                <a href="course-category.html" rel="tag" bis_skin_checked="1">علوم کامپیوتر</a>
                            </div>
                            <span class="course-instructor">
                                <a href="my-profile.html" bis_skin_checked="1"><span>آدام اسمیت</span></a>
                            </span>
                            <a href="course-details.html" class="course-permalink" bis_skin_checked="1">
                                <h3 class="course-title">توسعه نرم افزار</h3>
                            </a>
                            <!-- START .course-content-meta -->
                            <div class="course-wrap-meta" bis_skin_checked="1">
                                <div class="meta-item meta-item-duration" bis_skin_checked="1">10 هفته</div>
                                <div class="meta-item meta-item-level" bis_skin_checked="1">همه سطوح</div>
                                <div class="meta-item meta-item-lesson" bis_skin_checked="1">
                                    <span class="meta-number">11 درس</span>
                                </div>
                                <div class="meta-item meta-item-quiz" bis_skin_checked="1">
                                    <span class="meta-number">1 آزمون</span>
                                </div>
                                <div class="meta-item meta-item-student" bis_skin_checked="1"> <span class="meta-number">0 دانش آموز</span>
                                </div>
                            </div>
                            <!-- END .course-content-meta -->
                            <div class="separator" bis_skin_checked="1"></div>
                            <div class="course-info" bis_skin_checked="1">
                                <div class="course-excerpt" bis_skin_checked="1">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون</div>
                                <div class="clearfix" bis_skin_checked="1"></div>
                                <!-- START .course-content-footer -->
                                <div class="course-footer" bis_skin_checked="1">
                                    <div class="course-price" bis_skin_checked="1">
                                        <span class="price">160 هزار تومان</span>
                                    </div>
                                </div>
                                <!-- END .course-content-footer -->
                                <div class="course-readmore" bis_skin_checked="1">
                                    <a href="course-details.html" bis_skin_checked="1">بیشتر</a>
                                </div>
                            </div>
                        </div>
                        <!-- END .course-content -->
                    </div>
                </li>
                <li id="post-1026" class="post-1026 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-computer-science course">
                    <div class="course-item" bis_skin_checked="1">
                        <div class="course-wrap-thumbnail" bis_skin_checked="1">
                            <div class="course-thumbnail" bis_skin_checked="1">
                                <a href="course-details.html" bis_skin_checked="1">
                                    <div class="thumbnail-preview" bis_skin_checked="1">
                                        <div class="thumbnail" bis_skin_checked="1">
                                            <div class="centered" bis_skin_checked="1">
                                                <img width="370" height="280" src="assets/img/popular_item_5.png" class="attachment-500x300 size-500x300 wp-post-image" alt="Software Development" loading="lazy" title="Software Development">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- START .course-content -->
                        <div class="course-content" bis_skin_checked="1">
                            <div class="course-categories" bis_skin_checked="1">
                                <a href="course-category.html" rel="tag" bis_skin_checked="1">علوم کامپیوتر</a>
                            </div>
                            <span class="course-instructor">
                                <a href="my-profile.html" bis_skin_checked="1"><span>آدام اسمیت</span></a>
                            </span>
                            <a href="course-details.html" class="course-permalink" bis_skin_checked="1">
                                <h3 class="course-title">توسعه نرم افزار</h3>
                            </a>
                            <!-- START .course-content-meta -->
                            <div class="course-wrap-meta" bis_skin_checked="1">
                                <div class="meta-item meta-item-duration" bis_skin_checked="1">10 هفته</div>
                                <div class="meta-item meta-item-level" bis_skin_checked="1">همه سطوح</div>
                                <div class="meta-item meta-item-lesson" bis_skin_checked="1">
                                    <span class="meta-number">11 درس</span>
                                </div>
                                <div class="meta-item meta-item-quiz" bis_skin_checked="1">
                                    <span class="meta-number">1 آزمون</span>
                                </div>
                                <div class="meta-item meta-item-student" bis_skin_checked="1"> <span class="meta-number">0 دانش آموز</span>
                                </div>
                            </div>
                            <!-- END .course-content-meta -->
                            <div class="separator" bis_skin_checked="1"></div>
                            <div class="course-info" bis_skin_checked="1">
                                <div class="course-excerpt" bis_skin_checked="1">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون</div>
                                <div class="clearfix" bis_skin_checked="1"></div>
                                <!-- START .course-content-footer -->
                                <div class="course-footer" bis_skin_checked="1">
                                    <div class="course-price" bis_skin_checked="1">
                                        <span class="price">160 هزار تومان</span>
                                    </div>
                                </div>
                                <!-- END .course-content-footer -->
                                <div class="course-readmore" bis_skin_checked="1">
                                    <a href="course-details.html" bis_skin_checked="1">بیشتر</a>
                                </div>
                            </div>
                        </div>
                        <!-- END .course-content -->
                    </div>
                </li>
                <li id="post-1026" class="post-1026 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-computer-science course">
                    <div class="course-item" bis_skin_checked="1">
                        <div class="course-wrap-thumbnail" bis_skin_checked="1">
                            <div class="course-thumbnail" bis_skin_checked="1">
                                <a href="course-details.html" bis_skin_checked="1">
                                    <div class="thumbnail-preview" bis_skin_checked="1">
                                        <div class="thumbnail" bis_skin_checked="1">
                                            <div class="centered" bis_skin_checked="1">
                                                <img width="370" height="280" src="assets/img/popular_item_4.png" class="attachment-500x300 size-500x300 wp-post-image" alt="Software Development" loading="lazy" title="Software Development">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- START .course-content -->
                        <div class="course-content" bis_skin_checked="1">
                            <div class="course-categories" bis_skin_checked="1">
                                <a href="course-category.html" rel="tag" bis_skin_checked="1">علوم کامپیوتر</a>
                            </div>
                            <span class="course-instructor">
                                <a href="my-profile.html" bis_skin_checked="1"><span>آدام اسمیت</span></a>
                            </span>
                            <a href="course-details.html" class="course-permalink" bis_skin_checked="1">
                                <h3 class="course-title">توسعه نرم افزار</h3>
                            </a>
                            <!-- START .course-content-meta -->
                            <div class="course-wrap-meta" bis_skin_checked="1">
                                <div class="meta-item meta-item-duration" bis_skin_checked="1">10 هفته</div>
                                <div class="meta-item meta-item-level" bis_skin_checked="1">همه سطوح</div>
                                <div class="meta-item meta-item-lesson" bis_skin_checked="1">
                                    <span class="meta-number">11 درس</span>
                                </div>
                                <div class="meta-item meta-item-quiz" bis_skin_checked="1">
                                    <span class="meta-number">1 آزمون</span>
                                </div>
                                <div class="meta-item meta-item-student" bis_skin_checked="1"> <span class="meta-number">0 دانش آموز</span>
                                </div>
                            </div>
                            <!-- END .course-content-meta -->
                            <div class="separator" bis_skin_checked="1"></div>
                            <div class="course-info" bis_skin_checked="1">
                                <div class="course-excerpt" bis_skin_checked="1">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون</div>
                                <div class="clearfix" bis_skin_checked="1"></div>
                                <!-- START .course-content-footer -->
                                <div class="course-footer" bis_skin_checked="1">
                                    <div class="course-price" bis_skin_checked="1">
                                        <span class="price">160 هزار تومان</span>
                                    </div>
                                </div>
                                <!-- END .course-content-footer -->
                                <div class="course-readmore" bis_skin_checked="1">
                                    <a href="course-details.html" bis_skin_checked="1">بیشتر</a>
                                </div>
                            </div>
                        </div>
                        <!-- END .course-content -->
                    </div>
                </li>
                <li id="post-1026" class="post-1026 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-computer-science course">
                    <div class="course-item" bis_skin_checked="1">
                        <div class="course-wrap-thumbnail" bis_skin_checked="1">
                            <div class="course-thumbnail" bis_skin_checked="1">
                                <a href="course-details.html" bis_skin_checked="1">
                                    <div class="thumbnail-preview" bis_skin_checked="1">
                                        <div class="thumbnail" bis_skin_checked="1">
                                            <div class="centered" bis_skin_checked="1">
                                                <img width="370" height="280" src="assets/img/popular_item_3.png" class="attachment-500x300 size-500x300 wp-post-image" alt="Software Development" loading="lazy" title="Software Development">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- START .course-content -->
                        <div class="course-content" bis_skin_checked="1">
                            <div class="course-categories" bis_skin_checked="1">
                                <a href="course-category.html" rel="tag" bis_skin_checked="1">علوم کامپیوتر</a>
                            </div>
                            <span class="course-instructor">
                                <a href="my-profile.html" bis_skin_checked="1"><span>آدام اسمیت</span></a>
                            </span>
                            <a href="course-details.html" class="course-permalink" bis_skin_checked="1">
                                <h3 class="course-title">توسعه نرم افزار</h3>
                            </a>
                            <!-- START .course-content-meta -->
                            <div class="course-wrap-meta" bis_skin_checked="1">
                                <div class="meta-item meta-item-duration" bis_skin_checked="1">10 هفته</div>
                                <div class="meta-item meta-item-level" bis_skin_checked="1">همه سطوح</div>
                                <div class="meta-item meta-item-lesson" bis_skin_checked="1">
                                    <span class="meta-number">11 درس</span>
                                </div>
                                <div class="meta-item meta-item-quiz" bis_skin_checked="1">
                                    <span class="meta-number">1 آزمون</span>
                                </div>
                                <div class="meta-item meta-item-student" bis_skin_checked="1"> <span class="meta-number">0 دانش آموز</span>
                                </div>
                            </div>
                            <!-- END .course-content-meta -->
                            <div class="separator" bis_skin_checked="1"></div>
                            <div class="course-info" bis_skin_checked="1">
                                <div class="course-excerpt" bis_skin_checked="1">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون</div>
                                <div class="clearfix" bis_skin_checked="1"></div>
                                <!-- START .course-content-footer -->
                                <div class="course-footer" bis_skin_checked="1">
                                    <div class="course-price" bis_skin_checked="1">
                                        <span class="price">160 هزار تومان</span>
                                    </div>
                                </div>
                                <!-- END .course-content-footer -->
                                <div class="course-readmore" bis_skin_checked="1">
                                    <a href="course-details.html" bis_skin_checked="1">بیشتر</a>
                                </div>
                            </div>
                        </div>
                        <!-- END .course-content -->
                    </div>
                </li>
                <li id="post-1026" class="post-1026 lp_course type-lp_course status-publish has-post-thumbnail hentry course_category-computer-science course">
                    <div class="course-item" bis_skin_checked="1">
                        <div class="course-wrap-thumbnail" bis_skin_checked="1">
                            <div class="course-thumbnail" bis_skin_checked="1">
                                <a href="course-details.html" bis_skin_checked="1">
                                    <div class="thumbnail-preview" bis_skin_checked="1">
                                        <div class="thumbnail" bis_skin_checked="1">
                                            <div class="centered" bis_skin_checked="1">
                                                <img width="370" height="280" src="assets/img/popular_item_2.png" class="attachment-500x300 size-500x300 wp-post-image" alt="Software Development" loading="lazy" title="Software Development">
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <!-- START .course-content -->
                        <div class="course-content" bis_skin_checked="1">
                            <div class="course-categories" bis_skin_checked="1">
                                <a href="course-category.html" rel="tag" bis_skin_checked="1">علوم کامپیوتر</a>
                            </div>
                            <span class="course-instructor">
                                <a href="my-profile.html" bis_skin_checked="1"><span>آدام اسمیت</span></a>
                            </span>
                            <a href="course-details.html" class="course-permalink" bis_skin_checked="1">
                                <h3 class="course-title">توسعه نرم افزار</h3>
                            </a>
                            <!-- START .course-content-meta -->
                            <div class="course-wrap-meta" bis_skin_checked="1">
                                <div class="meta-item meta-item-duration" bis_skin_checked="1">10 هفته</div>
                                <div class="meta-item meta-item-level" bis_skin_checked="1">همه سطوح</div>
                                <div class="meta-item meta-item-lesson" bis_skin_checked="1">
                                    <span class="meta-number">11 درس</span>
                                </div>
                                <div class="meta-item meta-item-quiz" bis_skin_checked="1">
                                    <span class="meta-number">1 آزمون</span>
                                </div>
                                <div class="meta-item meta-item-student" bis_skin_checked="1"> <span class="meta-number">0 دانش آموز</span>
                                </div>
                            </div>
                            <!-- END .course-content-meta -->
                            <div class="separator" bis_skin_checked="1"></div>
                            <div class="course-info" bis_skin_checked="1">
                                <div class="course-excerpt" bis_skin_checked="1">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون</div>
                                <div class="clearfix" bis_skin_checked="1"></div>
                                <!-- START .course-content-footer -->
                                <div class="course-footer" bis_skin_checked="1">
                                    <div class="course-price" bis_skin_checked="1">
                                        <span class="price">160 هزار تومان</span>
                                    </div>
                                </div>
                                <!-- END .course-content-footer -->
                                <div class="course-readmore" bis_skin_checked="1">
                                    <a href="course-details.html" bis_skin_checked="1">بیشتر</a>
                                </div>
                            </div>
                        </div>
                        <!-- END .course-content -->
                    </div>
                </li>
            </ul>
            <nav class="learn-press-pagination navigation pagination">
                <ul class="page-numbers">
                    <li><span aria-current="page" class="page-numbers current">1</span></li>
                    <li><a class="page-numbers" href="#" bis_skin_checked="1">2</a></li>
                    <li><a class="next page-numbers" href="#" bis_skin_checked="1"><i class="arrow_left"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- courses part end -->
