<!-- breadcrumb part -->
<section class="breadcrumb_part blog_grid_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 ">
                <div class="breadcrumb_iner">
                    <h2>مناسبت ها</h2>
                    <div class="breadcrumb_iner_link">
                        <a href="/">خانه</a>
                        <i class="arrow_carrot-left"></i>
                        <span>مناسبت ها</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb part end -->

<!-- event part here -->
<section class="event_list section_padding">
    <div class="container">
        <div class="row justify-content-center" data-aos="fade-up" data-aos-duration="1200">
            <div class="col-lg-6">
                <div class="section_tittle">
                    <h2>رویدادهای آینده ما</h2>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="single_event_list" data-aos="fade-up" data-aos-duration="1200">
                    <img src="assets/img/event_list_3.png" alt="" class="img-fluid">
                    <div class="event_list_content">
                        <h5>28 شهریور 1400 </h5>
                        <h2>چرا به دوره فرآیند توسعه پیشرفته نیاز دارید؟</h2>
                        <div class="event_list_tag">
                            <p>ایران - تهران - شهرک غرب <i class="icon_pin_alt"></i></p>
                            <p>8.30 صبح الی 17 عصر <i class="icon_clock_alt"></i></p>
                        </div>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                    </div>
                </div>
                <div class="single_event_list" data-aos="fade-up" data-aos-duration="1600">
                    <img src="assets/img/event_list_2.png" alt="" class="img-fluid">
                    <div class="event_list_content">
                        <h5>28 شهریور 1400 </h5>
                        <h2>چرا به دوره فرآیند توسعه پیشرفته نیاز دارید؟</h2>
                        <div class="event_list_tag">
                            <p>ایران - تهران - شهرک غرب <i class="icon_pin_alt"></i></p>
                            <p>8.30 صبح الی 17 عصر <i class="icon_clock_alt"></i></p>
                        </div>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                    </div>
                </div>
                <div class="single_event_list" data-aos="fade-up" data-aos-duration="2000">
                    <img src="assets/img/event_list_1.png" alt="" class="img-fluid">
                    <div class="event_list_content">
                        <h5>28 شهریور 1400 </h5>
                        <h2>چرا به دوره فرآیند توسعه پیشرفته نیاز دارید؟</h2>
                        <div class="event_list_tag">
                            <p>ایران - تهران - شهرک غرب <i class="icon_pin_alt"></i></p>
                            <p>8.30 صبح الی 17 عصر <i class="icon_clock_alt"></i></p>
                        </div>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/img/icon/shape_06.png" alt="#" class="about_sharp_1 custom-animation">
    <img src="assets/img/icon/about_shape_02.png" alt="#" class="about_sharp_2 custom-animation2">
    <img src="assets/img/icon/about_shape_03.png" alt="#" class="about_sharp_3 custom-animation3">
    <img src="assets/img/icon/shape_04.png" alt="#" class="about_sharp_4 custom-animation4">
    <img src="assets/img/icon/shape_05.png" alt="#" class="about_sharp_5 custom-animation5">
</section>
<!-- event part end -->