<!-- breadcrumb part -->
<section class="breadcrumb_part blog_grid_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 ">
                <div class="breadcrumb_iner">
                    <h2>آموزگار</h2>
                    <div class="breadcrumb_iner_link">
                        <a href="/">خانه</a>
                        <i class="arrow_carrot-left"></i>
                        <span>آموزگار</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb part end -->

<!-- instructor list part here -->
<section class="instructor_list section_padding">
    <div class="container">
        <div class="row justify-content-center" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1200">
            <div class="col-lg-6">
                <div class="section_tittle">
                    <h2>رویدادهای آینده ما</h2>
                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1200">
                <div class="single_instructor_item">
                    <div class="single_instructor">
                        <a class="instructor_img">
                            <img src="assets/img/instructor_1.png" alt="#" class="img-fluid">
                        </a>
                        <div class="social_icon">
                            <a href="#"><i class="social_instagram"></i></a>
                            <a href="#"><i class="social_linkedin"></i></a>
                            <a href="#"><i class="social_twitter"></i></a>
                            <a href="#"><i class="social_facebook"></i></a>
                        </div>
                    </div>
                    <div class="single_instructor_tittle">
                        <h4>دیلان مرینج</h4>
                        <p>مدیر فروش</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1400">
                <div class="single_instructor_item">
                    <div class="single_instructor">
                        <a class="instructor_img">
                            <img src="assets/img/instructor_2.png" alt="#" class="img-fluid">
                        </a>
                        <div class="social_icon">
                            <a href="#"><i class="social_instagram"></i></a>
                            <a href="#"><i class="social_linkedin"></i></a>
                            <a href="#"><i class="social_twitter"></i></a>
                            <a href="#"><i class="social_facebook"></i></a>
                        </div>
                    </div>
                    <div class="single_instructor_tittle">
                        <h4>دیلان مرینج</h4>
                        <p>مدیر فروش</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1600">
                <div class="single_instructor_item">
                    <div class="single_instructor">
                        <a class="instructor_img">
                            <img src="assets/img/instructor_3.png" alt="#" class="img-fluid">
                        </a>
                        <div class="social_icon">
                            <a href="#"><i class="social_instagram"></i></a>
                            <a href="#"><i class="social_linkedin"></i></a>
                            <a href="#"><i class="social_twitter"></i></a>
                            <a href="#"><i class="social_facebook"></i></a>
                        </div>
                    </div>
                    <div class="single_instructor_tittle">
                        <h4>دیلان مرینج</h4>
                        <p>مدیر فروش</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1800">
                <div class="single_instructor_item">
                    <div class="single_instructor">
                        <a class="instructor_img">
                            <img src="assets/img/instructor_4.png" alt="#" class="img-fluid">
                        </a>
                        <div class="social_icon">
                            <a href="#"><i class="social_instagram"></i></a>
                            <a href="#"><i class="social_linkedin"></i></a>
                            <a href="#"><i class="social_twitter"></i></a>
                            <a href="#"><i class="social_facebook"></i></a>
                        </div>
                    </div>
                    <div class="single_instructor_tittle">
                        <h4>دیلان مرینج</h4>
                        <p>مدیر فروش</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="2000">
                <div class="single_instructor_item">
                    <div class="single_instructor">
                        <a class="instructor_img">
                            <img src="assets/img/list_img/list_img_1.png" alt="#" class="img-fluid">
                        </a>
                        <div class="social_icon">
                            <a href="#"><i class="social_instagram"></i></a>
                            <a href="#"><i class="social_linkedin"></i></a>
                            <a href="#"><i class="social_twitter"></i></a>
                            <a href="#"><i class="social_facebook"></i></a>
                        </div>
                    </div>
                    <div class="single_instructor_tittle">
                        <h4>دیلان مرینج</h4>
                        <p>مدیر فروش</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="2200">
                <div class="single_instructor_item">
                    <div class="single_instructor">
                        <a class="instructor_img">
                            <img src="assets/img/list_img/list_img_2.png" alt="#" class="img-fluid">
                        </a>
                        <div class="social_icon">
                            <a href="#"><i class="social_instagram"></i></a>
                            <a href="#"><i class="social_linkedin"></i></a>
                            <a href="#"><i class="social_twitter"></i></a>
                            <a href="#"><i class="social_facebook"></i></a>
                        </div>
                    </div>
                    <div class="single_instructor_tittle">
                        <h4>دیلان مرینج</h4>
                        <p>مدیر فروش</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="2400">
                <div class="single_instructor_item">
                    <div class="single_instructor">
                        <a class="instructor_img">
                            <img src="assets/img/list_img/list_img_3.png" alt="#" class="img-fluid">
                        </a>
                        <div class="social_icon">
                            <a href="#"><i class="social_instagram"></i></a>
                            <a href="#"><i class="social_linkedin"></i></a>
                            <a href="#"><i class="social_twitter"></i></a>
                            <a href="#"><i class="social_facebook"></i></a>
                        </div>
                    </div>
                    <div class="single_instructor_tittle">
                        <h4>دیلان مرینج</h4>
                        <p>مدیر فروش</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="2600">
                <div class="single_instructor_item">
                    <div class="single_instructor">
                        <a class="instructor_img">
                            <img src="assets/img/list_img/list_img_4.png" alt="#" class="img-fluid">
                        </a>
                        <div class="social_icon">
                            <a href="#"><i class="social_instagram"></i></a>
                            <a href="#"><i class="social_linkedin"></i></a>
                            <a href="#"><i class="social_twitter"></i></a>
                            <a href="#"><i class="social_facebook"></i></a>
                        </div>
                    </div>
                    <div class="single_instructor_tittle">
                        <h4>دیلان مرینج</h4>
                        <p>مدیر فروش</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- instructor list part end -->