<!-- meeting CSS -->
<link rel="stylesheet" href="assets/css/meeting.css" />

<!-- breadcrumb part -->
<section class="breadcrumb_part blog_grid_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 ">
                <div class="breadcrumb_iner">
                    <h2>کلاس آنلاین</h2>
                    <div class="breadcrumb_iner_link">
                        <a href="/">خانه</a>
                        <i class="arrow_carrot-left"></i>
                        <span>کلاس آنلاین</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb part end -->

<!-- live class part here -->
<div id="content" class="site-content padding_bottom" bis_skin_checked="1">
    <div class="content-area container" bis_skin_checked="1">
        <main id="main" class="site-main" role="main">
            <div class="vczapi-wrap dpn-zvc-single-content-wrapper dpn-zvc-single-content-wrapper-83" id="dpn-zvc-single-content-wrapper-83" bis_skin_checked="1">
                <div data-aos="fade-up" data-aos-duration="1200" class="vczapi-col-8" bis_skin_checked="1">
                    <div class="deepn-zvc-single-featured-img" bis_skin_checked="1">
                        <img width="1000" height="613" src="assets/img/meeting.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" loading="lazy"></div>
                    <div class="deepn-zvc-single-description" bis_skin_checked="1">
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        </p>

                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                        </p>
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-duration="1600" class="vczapi-col-4" bis_skin_checked="1">
                    <div class="dpn-zvc-sidebar-wrapper" bis_skin_checked="1">
                        <div class="dpn-zvc-sidebar-box" bis_skin_checked="1">
                            <div class="dpn-zvc-timer" bis_skin_checked="1">
                                <div class="countdown" id="timer">
                                    <div class="dpn-zvc-timer-cell" bis_skin_checked="1">
                                        <div class="time" id="days" data-aos="fade-up" data-aos-duration="600"></div>
                                    </div>
                                    <div class="dpn-zvc-timer-cell" bis_skin_checked="1">
                                        <div class="time" id="hours" data-aos="fade-up" data-aos-duration="800"></div>
                                    </div>
                                    <div class="dpn-zvc-timer-cell" bis_skin_checked="1">
                                        <div class="time" id="minutes" data-aos="fade-up" data-aos-duration="1000"></div>
                                    </div>
                                    <div class="dpn-zvc-timer-cell" bis_skin_checked="1">
                                        <div class="time" id="seconds" data-aos="fade-up" data-aos-duration="1200"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dpn-zvc-sidebar-box" bis_skin_checked="1">
                            <div class="dpn-zvc-sidebar-tile" bis_skin_checked="1">
                                <h3>توضیحات</h3>
                            </div>
                            <div class="dpn-zvc-sidebar-content" bis_skin_checked="1">
                                <div class="dpn-zvc-sidebar-content-list vczapi-hosted-by-topic-wrap" bis_skin_checked="1">
                                    <span><strong>موضوع:</strong></span> <span>جلسه اولیه</span>
                                </div>
                                <div class="dpn-zvc-sidebar-content-list vczapi-hosted-by-list-wrap" bis_skin_checked="1">
                                    <span><strong>میزبانی شده توسط:</strong></span>
                                    <span>مدیر</span>
                                </div>
                                <div class="dpn-zvc-sidebar-content-list vczapi-hosted-by-start-time-wrap" bis_skin_checked="1">
                                    <span><strong>شروع:</strong></span>
                                    <span class="sidebar-start-time">شنبه 27 شهریور 1402 ساعت 5 عصر</span>
                                </div>
                                <div class="dpn-zvc-sidebar-content-list vczapi-duration-wrap" bis_skin_checked="1">
                                    <span><strong>مدت زمان:</strong></span>
                                    <span>2 ساعت</span>
                                </div>
                                <div class="dpn-zvc-sidebar-content-list vczapi-timezone-wrap" bis_skin_checked="1">
                                    <span><strong>منطقه زمانی فعلی:</strong></span>
                                    <span class="vczapi-single-meeting-timezone">آسیا/تهران</span>
                                </div>
                                <p class="dpn-zvc-display-or-hide-localtimezone-notice"><strong>توجه داشته باشید</strong>: زمان شمارش معکوس بر اساس منطقه زمانی محلی شما نشان داده می شود.</p>
                            </div>
                            <div class="dpn-zvc-sidebar-box" bis_skin_checked="1">
                                <div class="join-links" bis_skin_checked="1">
                                    <a target="_blank" href="https://us04web.zoom.us/j/77470321804?pwd=UDJzdFpZVWlUYWxGa2ZmeDE3WHp0UT09" class="btn btn-join-link btn-join-via-app" bis_skin_checked="1">از طریق برنامه Zoom به جلسه بپیوندید</a>
                                    <a target="_blank" rel="nofollow" href="#" class="btn btn-join-link btn-join-via-browser" bis_skin_checked="1">عضویت از طریق مرورگر وب</a>
                                    <a target="_blank" href="#" rel="nofollow" class="btn btn-start-link" bis_skin_checked="1">شروع جلسه</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix" bis_skin_checked="1"></div>
            </div>
        </main>
    </div>
</div>
<!-- live class part end -->