<!-- breadcrumb part -->
<section class="breadcrumb_part blog_grid_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 ">
                <div class="breadcrumb_iner">
                    <h2>پروفایل کاربری</h2>
                    <div class="breadcrumb_iner_link">
                        <a href="/">خانه</a>
                        <i class="arrow_carrot-left"></i>
                        <span>پروفایل کاربری</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb part end -->

<!-- my profile part here -->
<div id="primary" class="content-area section_padding" bis_skin_checked="1">
    <main id="main" class="site-main">
        <div class="container" bis_skin_checked="1">
            <article id="post-47" class="post-47 page type-page status-publish hentry">
                <div class="entry-content" bis_skin_checked="1">
                    <div class="learnpress" bis_skin_checked="1">
                        <div id="learn-press-profile" class="lp-user-profile current-user" bis_skin_checked="1">
                            <div class="main-content-area" bis_skin_checked="1">
                                <aside id="profile-sidebar">
                                    <div id="profile-nav" bis_skin_checked="1">
                                        <ul class="lp-profile-nav-tabs">
                                            <li class="courses active">
                                                <a href="#">
                                                    <i class="fas fa-book-open"></i>دوره ها
                                                </a>
                                            </li>
                                            <li class="quizzes">
                                                <a href="#">
                                                    <i class="fas fa-puzzle-piece"></i> آزمون ها
                                                </a>
                                            </li>
                                            <li class="orders">
                                                <a href="#">
                                                    <i class="fas fa-shopping-cart"></i>خرید ها
                                                </a>
                                            </li>
                                            <li class="settings has-child">
                                                <a href="#" data-slug="#">
                                                    <i class="fas fa-cog"></i>تنظیمات
                                                </a>
                                                <ul class="profile-tab-sections">
                                                    <li class="basic-information">
                                                        <a href="#">عمومی</a>
                                                    </li>
                                                    <li class="avatar">
                                                        <a href="#">آواتار</a>
                                                    </li>
                                                    <li class="change-password">
                                                        <a href="#">رمز عبور</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="logout">
                                                <a href="/register/logout" data-slug="index.html">
                                                    <i class="fas fa-sign-out-alt"></i> خروج
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </aside>
                                <article id="profile-content" class="lp-profile-content">
                                    <div id="profile-content-courses" bis_skin_checked="1">
                                        <div class="learn-press-subtab-content" bis_skin_checked="1">
                                            <div class="learn-press-profile-course__statistic"
                                                data-ajax="{&quot;userID&quot;:3}" bis_skin_checked="1">
                                                <div id="dashboard-general-statistic" bis_skin_checked="1">
                                                    <div class="dashboard-general-statistic__row" bis_skin_checked="1">
                                                        <div class="statistic-box" bis_skin_checked="1">
                                                            <p class="statistic-box__text">دوره های ثبت نام شده</p>
                                                            <span class="statistic-box__number">0</span>
                                                        </div>
                                                        <div class="statistic-box" bis_skin_checked="1">
                                                            <p class="statistic-box__text">دوره های فعال</p>
                                                            <span class="statistic-box__number">0</span>
                                                        </div>
                                                        <div class="statistic-box" bis_skin_checked="1">
                                                            <p class="statistic-box__text">دوره های تمام شده</p>
                                                            <span class="statistic-box__number">0</span>
                                                        </div>
                                                    </div>
                                                    <div class="dashboard-general-statistic__row" bis_skin_checked="1">

                                                        <div class="statistic-box" bis_skin_checked="1">
                                                            <p class="statistic-box__text">مجموع دوره ها</p>
                                                            <span class="statistic-box__number">5</span>
                                                        </div>
                                                        <div class="statistic-box" bis_skin_checked="1">
                                                            <p class="statistic-box__text">مجموع دانش آموزها</p>
                                                            <span class="statistic-box__number">0</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- .entry-content -->
            </article>
        </div>
    </main>
    <!-- #main -->
</div>
<!-- my profile part end -->