<!-- quizzes part here -->
<div id="content" class="site-content" bis_skin_checked="1">
    <div class="lp-archive-courses" bis_skin_checked="1">
        <ul class="learn-press-breadcrumb">
            <li><a href="/" bis_skin_checked="1"><span>خانه</span></a></li>
            <li class="breadcrumb-delimiter"><i class="fas fa-chevron-right"></i></li>
            <li><a href="/course/course-grid" bis_skin_checked="1"><span>همه دوره ها</span></a></li>
            <li class="breadcrumb-delimiter"><i class="fas fa-chevron-right"></i></li>
            <li><span>علوم کامپیوتر</span></li>
            <li class="breadcrumb-delimiter"><i class="fas fa-chevron-right"></i></li>
            <li><span>توسعه نرم افزار</span></li>
        </ul>
        <div id="popup-course" class="course-summary" bis_skin_checked="1">
            <input type="checkbox" id="sidebar-toggle">
            <div id="popup-header" bis_skin_checked="1">
                <div class="popup-header__inner" bis_skin_checked="1">
                    <h2 class="course-title">
                        <a href="#" bis_skin_checked="1">توسعه نرم افزار</a>
                    </h2>
                </div>
                <a href="#" class="back-course" bis_skin_checked="1"><i class="fa fa-times"></i></a>
            </div>
            <div id="popup-sidebar" bis_skin_checked="1">
                <form method="post" class="search-course">
                    <input type="text" name="s" autocomplete="off" placeholder="جستجوی محتوای دوره ها">
                    <button name="submit"></button>
                    <button type="button" class="clear"></button>
                </form>
                <div class="course-curriculum" id="learn-press-course-curriculum" bis_skin_checked="1">
                    <div class="curriculum-scrollable" bis_skin_checked="1">
                        <ul class="curriculum-sections">
                            <li class="section" id="section-section-1-1" data-id="section-1-1" data-section-id="1">
                                <div class="section-header" bis_skin_checked="1">
                                    <div class="section-left" bis_skin_checked="1">
                                        <h5 class="section-title">بخش 1 </h5>
                                        <span class="section-toggle">
                                            <i class="fas fa-caret-down"></i>
                                            <i class="fas fa-caret-up"></i>
                                        </span>
                                    </div>
                                </div>
                                <ul class="section-content">
                                    <li class="course-item course-item-lp_quiz course-item-125 item-preview has-status" data-id="125">
                                        <a class="section-item-link" href="#" bis_skin_checked="1">
                                            <span class="item-name">آزمون 1</span>
                                            <div class="course-item-meta" bis_skin_checked="1">
                                                <span class="item-meta count-questions">12 سوال</span><span class="item-meta duration">30 دقیقه</span>
                                                <span class="item-meta course-item-status" title="Unread"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="course-item item-locked course-item-lp_quiz course-item-125 item-preview has-status" data-id="125">
                                        <a class="section-item-link" href="#" bis_skin_checked="1">
                                            <span class="item-name">آزمون 2</span>
                                            <div class="course-item-meta" bis_skin_checked="1">
                                                <span class="item-meta count-questions">18 سوال</span><span class="item-meta duration">30 دقیقه</span>
                                                <span class="item-meta course-item-status" title="Unread"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="course-item item-locked course-item-lp_quiz course-item-125 item-preview has-status" data-id="125">
                                        <a class="section-item-link" href="#" bis_skin_checked="1">
                                            <span class="item-name">Quiz 3</span>
                                            <div class="course-item-meta" bis_skin_checked="1">
                                                <span class="item-meta count-questions">15 سوال</span><span class="item-meta duration">30 دقیقه</span>
                                                <span class="item-meta course-item-status" title="Unread"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="course-item item-locked course-item-lp_quiz course-item-125 item-preview has-status" data-id="125">
                                        <a class="section-item-link" href="#" bis_skin_checked="1">
                                            <span class="item-name">Quiz 4</span>
                                            <div class="course-item-meta" bis_skin_checked="1">
                                                <span class="item-meta count-questions">10 سوال</span><span class="item-meta duration">30 دقیقه</span>
                                                <span class="item-meta course-item-status" title="Unread"></span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="section" id="section-section-1-1" data-id="section-1-1" data-section-id="1">
                                <div class="section-header" bis_skin_checked="1">
                                    <div class="section-left" bis_skin_checked="1">
                                        <h5 class="section-title">بخش 2 </h5>
                                        <span class="section-toggle">
                                            <i class="fas fa-caret-down"></i>
                                            <i class="fas fa-caret-up"></i>
                                        </span>
                                    </div>
                                </div>
                                <ul class="section-content">
                                    <li class="course-item course-item-lp_quiz course-item-125 item-preview has-status" data-id="125">
                                        <a class="section-item-link" href="#" bis_skin_checked="1">
                                            <span class="item-name">آزمون 1</span>
                                            <div class="course-item-meta" bis_skin_checked="1">
                                                <span class="item-meta count-questions">12 سوال</span><span class="item-meta duration">1 ساعت</span>
                                                <span class="item-meta course-item-status" title="Unread"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="course-item item-locked course-item-lp_quiz course-item-125 item-preview has-status" data-id="125">
                                        <a class="section-item-link" href="#" bis_skin_checked="1">
                                            <span class="item-name">آزمون 2</span>
                                            <div class="course-item-meta" bis_skin_checked="1">
                                                <span class="item-meta count-questions">15 سوال</span><span class="item-meta duration">1 ساعت</span>
                                                <span class="item-meta course-item-status" title="Unread"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="course-item item-locked course-item-lp_quiz course-item-125 item-preview has-status" data-id="125">
                                        <a class="section-item-link" href="#" bis_skin_checked="1">
                                            <span class="item-name">آزمون 3</span>
                                            <div class="course-item-meta" bis_skin_checked="1">
                                                <span class="item-meta count-questions">20 سوال</span><span class="item-meta duration">1 ساعت</span>
                                                <span class="item-meta course-item-status" title="Unread"></span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="course-item item-locked course-item-lp_quiz course-item-125 item-preview has-status" data-id="125">
                                        <a class="section-item-link" href="#" bis_skin_checked="1">
                                            <span class="item-name">آزمون 4</span>
                                            <div class="course-item-meta" bis_skin_checked="1">
                                                <span class="item-meta count-questions">18 سوال</span><span class="item-meta duration">1 ساعت</span>
                                                <span class="item-meta course-item-status" title="Unread"></span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="popup-content" bis_skin_checked="1">
                <div id="learn-press-content-item" bis_skin_checked="1">
                    <div class="content-item-scrollable" bis_skin_checked="1">
                        <div class="content-item-wrap" bis_skin_checked="1">
                            <div id="content-item-quiz" class="content-item-summary" bis_skin_checked="1">
                                <h3 class="course-item-title quiz-title">آزمون 1</h3>
                                <div id="learn-press-quiz-app" bis_skin_checked="1">
                                    <div bis_skin_checked="1">
                                        <div id="lp-modal-overlay" bis_skin_checked="1" style="display: none;"></div>
                                        <div id="lp-modal-window" bis_skin_checked="1" style="display: none;">
                                            <div id="lp-modal-content" bis_skin_checked="1"></div>
                                            <div id="lp-modal-buttons" bis_skin_checked="1">
                                                <button class="lp-button modal-button-ok"><span>بله</span></button><button class="lp-button modal-button-cancel"><span>خیر</span></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div bis_skin_checked="1">
                                        <ul class="quiz-intro">
                                            <li class="quiz-intro-item quiz-intro-item--duration">
                                                <div class="quiz-intro-item__title" bis_skin_checked="1">مدت زمان:</div>
                                                <span class="quiz-intro-item__content">00:30:00</span>
                                            </li>
                                            <li class="quiz-intro-item quiz-intro-item--passing-grade">
                                                <div class="quiz-intro-item__title" bis_skin_checked="1">مرور نمره:</div>
                                                <span class="quiz-intro-item__content">%70</span>
                                            </li>
                                            <li class="quiz-intro-item quiz-intro-item--questions-count">
                                                <div class="quiz-intro-item__title" bis_skin_checked="1">سوال:</div><span class="quiz-intro-item__content">12</span>
                                            </li>
                                        </ul>
                                        <div class="quiz-content" bis_skin_checked="1">
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله </p>
                                        </div>
                                        <div class="quiz-buttons is-first" bis_skin_checked="1">
                                            <div class="button-left" bis_skin_checked="1">
                                                <button class="lp-button start" disabled="disabled">شروع</button>
                                            </div>
                                            <div class="button-right" bis_skin_checked="1"></div>
                                        </div>
                                        <div class="learn-press-message error" bis_skin_checked="1">لطفا در دوره ثبت نام کنید</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="popup-footer" bis_skin_checked="1">
                <div class="course-item-nav" data-nav="all" bis_skin_checked="1">
                    <div class="prev" bis_skin_checked="1">
                        <div class="course-item-nav__name" bis_skin_checked="1">آزمون 1</div>
                        <a href="#" bis_skin_checked="1">قبلی</a>
                    </div>
                    <div class="next" bis_skin_checked="1">
                        <div class="course-item-nav__name" bis_skin_checked="1">آزمون 2</div>
                        <a href="#" bis_skin_checked="1">بعدی</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- quizzes part end -->