<!-- breadcrumb part -->
<section class="breadcrumb_part blog_grid_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 ">
                <div class="breadcrumb_iner">
                    <h2>گواهینامه</h2>
                    <div class="breadcrumb_iner_link">
                        <a href="/">خانه</a>
                        <i class="arrow_carrot-left"></i>
                        <span>گواهینامه</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb part end -->

<!-- student review part here -->
<section class="student_review section_padding">
    <div class="container">
        <div class="row justify-content-between align-items-center" data-aos="fade-up" data-aos-anchor-placement="top-center">
            <div class="col-xl-5 col-lg-6 col-md-4">
                <div class="student_review_tittle">
                    <h2>دانش آموز درباره ما میگویند:</h2>
                    <img src="assets/img/quote.png" alt="">
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-8">
                <div class="student_review_iner owl-carousel" style="direction: ltr!important;">
                    <div class="single_student_review">
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                        </p>
                        <div class="student_review_content">
                            <img src="assets/img/student.png" alt="">
                            <div class="student_info">
                                <h4>دیلان مرینج</h4>
                                <p>مدیر فروش</p>
                            </div>
                        </div>
                    </div>
                    <div class="single_student_review">
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                        </p>
                        <div class="student_review_content">
                            <img src="assets/img/author_5.jpg" alt="">
                            <div class="student_info">
                                <h4>دیلان مرینج</h4>
                                <p>مدیر فروش</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="circle_shape_1"></div>
    <div class="circle_shape_2"></div>
</section>
<!-- student review part end -->